html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#btn{
  width: 150px;
  height: 150px;
  background-color: rgb(224, 224, 224);
  /* border: 2px solid red; */
  border-radius: 50%;
  box-shadow: -10px -10px 15px white, 8px 8px 25px rgb(62, 62, 62);
  margin: 0 auto;
  transition: ease-in-out 0.5s;
}

#btn:hover{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: revert;
  margin: 0 auto;
}

#container{
  padding: 100px 0;
  background-color: rgb(224, 224, 224);
  width: 100vw;
  height: 100vh;
}
