:root{
  color: rgb(232, 198, 139);
  color: rgb(134, 68, 45);
  color: rgb(233, 47, 59);
  color: rgb(135, 223, 117);
  color: rgb(255, 231, 113);

}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


