html,body{
    margin:0;
    padding:0;
    color:rgb(255, 255, 255);
    background: black;
}

canvas{
    border:0;
    z-index: 999;
}

#center{
    position: absolute;
    top: 50vh;
    left: 50vw;
}

#controls,
#title{
    position: absolute;
    top: 2vw;
    width: 100vw;
    z-index: 0;
}

h2,
p{
    font-size:1rem;
    text-align: right;
    padding: 0 2vw;
    
}

h1{
    
    font-size:5rem;
    margin: 0;
    padding: 0 2vw;
}

h2{
    margin: 0;
}

p{
    margin: 0.3vw 0;
}

